.section1, .section4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ac810b;
    /* padding: 10vh 0vh 5vh 0vh; */

}

.section1>h1 {
    font-size: clamp(2rem, 6vw, 3rem);
    font-family: "Fraunces", serif;
    font-weight: 500;
    color: rgb(103, 66, 46);
    margin: 12vh 0vh 2vh 0vh;
}

.section1>h2 {
    font-size: clamp(1em, 1em);
    font-family: "montserrat";
    font-weight: 400;
    color: #894A28;
    text-align: center;
    width: 50%; 
    margin-bottom: 5vh;
}

.section2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 0vh;
    background-color: #c9c0aa;
}

.div-text-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  width: 100%;
  height: 40vh;
}

.div-text-2>h2 {
    font-size: 1.5em;
    font-family: "fraunces";
    font-weight: 400;
    color: #894A28;
    text-align: center;
    width: 100vh;

}

.divimg {
    min-height: 90vh;
    width: 95%;
    margin: 0vh 4vh 1vh 4vh;
    background-color: aqua;
    border-radius: 20px;
}

.img1{
  display: block;
  width: 100%;
  min-height: 90vh;
  /* margin: 0vh 5vh 0vh 5vh; */
  border-radius: 20px;
}

.raiz {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40vh;
    min-width: 95%;
    margin: 5vh 10vh 5vh 5vh ;
    background-color: aqua;
    border-radius: 50px;

}

.raiz1 {
 width: 35%;
 height: 40vh;
 background-color: blue;
 overflow-y: hidden;
}
.raiz1>h1 {
  font-size: 2em;
    margin: 5vh 5vh 4vh 5vh; 
    font-family: "fraunces";
    font-weight: 400;
    color: #894A28;
 }

.imgraiz {
    height: 27vh;
    /* background-color: rgb(161, 150, 134); */
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
}

.img2 {
  background-color: rgba(0, 0, 0, 0)
}

.raiz2 {
    width: 35%;
    height: 40vh;
    background-color: rgb(195, 0, 255);
}

.raiz2>p {
   margin: 5vh; 
   font-family: "fraunces";
   font-weight: 300;
    color: #894A28;
}
  
.section3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(83, 36, 36)
}

.section3>h1 {
  font-size: clamp(2rem, 6vw, 3rem);
    font-family: "Fraunces", serif;
    font-weight: 500;
    color: rgb(103, 66, 46);
    margin: 10vh 0vh 2vh 0vh;
}

.cont-tempo, .cont-tempo2{
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    width: 80%;
    padding: 5px;
    gap: 5px;
    background-color: dodgerblue;
  }

  

  .linha {
    width: 95%;
    height: 0.5vh;
    border-radius: 10px;
    background-color: #000;
  }
  
  .linha-tempo {
    background-color: #f1f1f1;
    color: #000;
    font-size: 30px;
    text-align: center;
    width: 100%;
    height: 30vh;
    border-radius: 20px;
  }

.img3{
  display: block;
  width: 100%;
  height: 30vh;
  /* margin: 0vh 5vh 0vh 5vh; */
  border-radius: 20px;
}
  
  
  .linha-tempo:nth-child(1) {
    grid-column: 1;
  }
  .linha-tempo:nth-child(2) {
    grid-column: 3;
  }
  .linha-tempo:nth-child(3) {
    grid-column: 5;
  }
  
  /* .cont-tempo2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    padding: 5px;
    gap: 5px;
    background-color: black;
  } */
  
 
  .linha-tempo5 {
    background-color: #f1f1f1;
    color: #000;
    font-size: 30px;
    text-align: center;
    width: 100%;
    height: 30vh;
    border-radius: 20px;
  }
  
  .linha-tempo5:nth-child(1) {
    grid-column: 2;
  }
  .linha-tempo5:nth-child(2) {
    grid-column: 4;
  }
  

  .futuro {
    min-height: 70vw;
    min-width: 95%;
    margin: 6vh;
    background-color: #E41700;
    border-radius: 20px;
  }

  .future-text{
    margin: 5vh;
    background-color: rgba(153, 205, 50, 0);
  }

  .future-text>p {
    font-size: clamp(2rem, 2vw, 3rem);
    font-family: "monstserrat", sans-serif;
    font-weight: 400;
    color: rgb(239, 229, 203);
    background-color: #ffffff00;
  }
  
  .section5 {
    display: flex;
    width: 100%;
    height: 80vh;
  }

  .cont-map {
    /* display: flex; */
    height: 80vh;
    width: 50%;
    background-color: rgb(12, 43, 43);
  }
  
  .div-text {
    margin: 50px;
    background-color: aquamarine;
  }

  /* .tex-5{
    padding: auto;
    background-color: #894A28;
  } */

  .img-map {
    margin: 5vh;
    height: 70vh;
    background-color: aquamarine;
  }

  .trabalho {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 52vh;
    min-width: 75%;
    background-color: aqua;
    border-radius: 50px;
    margin: 5vh;

  }

  .section7 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: chocolate;
    height: 100vh;
  }

  .div-sempre {
    display: flex;
    align-items: center;
    min-height: 54vh;
    min-width: 93%;
    margin: 5vh 5vh 0vh 5vh ;
    background-color: aqua;
    border-radius: 9vh;
  }