* {
    /* margin: 0; */
    padding: 0;
    /* overflow-y: hidden; */
    overflow-x: hidden;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}






.container {
    display: flex;
    width: 100%;
    background-color: blue;
    /* align-items: center; */
    /* justify-content: center; */
}

.imageNews {
    display: flex;
    flex-wrap: nowrap;

    /* overflow-y: hidden; */
    width: 90vw;
    /* height: 100vh; */
    /* margin-top: 10%; */
    /* background-color: red; */
    border-radius: 1em;
    margin: auto;
    margin-top: 6vh;
}

.imageNewsIten {
    overflow: hidden;
    width: 100vw;
    height: 95vh;
    /* defines the "box" for the image */
    /* background-color: blue; */
    display: flex;
    /* center image inside */
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.imageNewsIten img {
    margin: auto;
    height: 100%;
    width: auto;
    /* keep proportions */
    object-fit: cover;
    /* or cover, depending on the effect you want */
}


.section-apresentacao {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    min-height: 75vh;
    background-color: #FEFAEF;
    /* flex: 1 1 500px; */
    padding: 10vh 0vh 0vh 0vh;

}

.section-apresentacao>h1 {
    font-size: clamp(2rem, 6vw, 3rem);
    font-family: "Fraunces", serif;
    font-weight: 400;
    color: rgb(103, 66, 46);
}

.itens {
    /* position: sticky; */
    /* top: 5vh; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: space-around;
    /* z-index: 5; */
    /* width: 100%; */
    /* flex: 1 1 10vw; */
    /* height: fit-content; */
    /* background-color: red; */

}

.itens>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    width: 10vw;
    height: 40vh;
    margin: 2vh;
    border-radius: 1rem;
    /* transition-duration: .1s; */
    opacity: 0;
    transform: translateY(-50%);
    /* start slightly lower */
    transition: all 0.3s ease-in-out;
    /* transition-delay: .2s; */
    padding: 4vh;
    /* flex-grow: 2; */

}

.itens>div.visible {
    opacity: 1;
    transform: translateY(0);
}

.itens>div>h1 {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: clamp(1rem, 1.2vw, 2rem);
}

.itens>div>h2 {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: clamp(0.5rem, 1vw, 0.9rem);
}

.itens>div:hover {
    transform: scale(105%);
    box-shadow: -1px 0px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 0px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 8px 0px rgba(0, 0, 0, 0.75);

}

.quem-somos {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    /* background-color: #B31E0F; */

}

.quem-somos>img {
    width: 100%;
    position: absolute;
    z-index: -1;
    object-fit: fill;
}

.quem-somos>div {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding: 5vh 5vw 0vh 5vw;
    align-items: center;
    margin: auto;
    width: 30%;
    height: 50%;
    background-color: #A1653A;
    z-index: 1;
    border-radius: 1rem;
}

.quem-somos>div>h1 {
    font-size: clamp(3em, 2vw, 4em);
    font-family: "fraunces";
    font-weight: 400;
    color: rgb(254, 250, 239);
}

.quem-somos>div>h2 {
    font-size: clamp(1em, 1.5vw, 2em);
    font-family: "fraunces";
    font-weight: 400;
    color: rgb(254, 250, 239);
    text-align: center;
}

.quem-somos>div>p {
    font-size: clamp(0.5em, 1.5vw, 1em);
    font-family: "fraunces";
    font-weight: 400;
    color: rgb(254, 250, 239);
    text-align: center;

}

.produtos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    /* height: 150vh; */
    gap: 4vh;
    padding-top: 4vh;
    padding-bottom: 6vh;
    background-color: #FEFAEF;
}

.produtos>h1 {
    font-size: clamp(3em, 2vw, 4em);
    font-family: "fraunces";
    font-weight: 400;
    color: #894A28;
}

.produtos>p {
    font-size: clamp(2em, 1vw, 3em);
    font-family: "fraunces";
    font-weight: 400;
    color: #894A28;
    text-align: center;
    width: 50%;
    transform: tr;
}

.produtos>div {
    display: flex;
    width: 60vw;
    /* height: auto; */
    height: 80%;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    /* margin-top: 5vh; */
    overflow-y: hidden;
    /* border-radius: 1em; */
    /* background-color: blue; */
}

.produtos>div>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    flex-grow: 1;
    border-radius: 1em;
    overflow-y: hidden;
    /* background-color: red; */

}

.produtos>div>div>h2 {
    font-family: "montserrat";
    font-weight: 700;
    color: rgb(103, 66, 46);
    font-size: clamp(0.5em, 1vw, 1em);
    margin-top: 2vh;

}

.receitas-section {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #DAE2E4;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 10vh;

}

.receitas-banner {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    position: sticky;
    top: 0px;
    width: 80%;
    height: 90%;
    background-color: #FFDB4A;
    border-radius: 1.5em;
    /* padding: 3% 5%; */
    margin: auto;
    z-index: 1;
    overflow-y: hidden;
}

.receitas-banner h1 {
    font-size: clamp(2rem, 2vw, 3rem);
    font-family: "fraunces";
    font-weight: 700;
    color: #894a28;
}

.receitas-banner p {
    font-size: clamp(2rem, 2vw, 3rem);
    font-family: "fraunces";
    font-weight: 200;
    /* margin-top: 3vh; */
    color: #894a28;
}

.receitas-banner>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 70%;
    /* background-color: red; */
    overflow-y: hidden;
}

.receitas-omelete {
    animation: spin 20s linear infinite;
    height: 80%;
    overflow-y: hidden;
    /* background-color: blue; */
    /* margin-top: 30vh; */
}

.receitas-omelete>img {
    overflow-y: hidden;
    /* background-color: red; */
}



.teste {
    /* display: flex; */
    width: 80%;
    height: 90%;
    position: sticky;
    top: 0;
    /* margin-left: auto; */
    /* margin: auto; */
    /* top: 50px; */
    /* left: 25%; */
    z-index: 2;
    /* background-color: blue; */
    border-radius: 2em;
    transform: translateX(12.5%);
}

.receitas-item {
    display: flex;
    width: 80vw;
    height: 30%;
    /* position: absolute; */
    margin: auto;
    /* top: 50px; */
    z-index: 1;
    /* margin-top: 10px; */
    background-color: #FEFAEF;
    overflow-y: hidden;

}

.imagem-receita {
    display: flex;
    /* background-color: purple; */
    width: 50em;
    height: 5vh;
    /* height: 20em; */
    margin: auto;
}

.receitas-item:nth-child(1) {
    border-radius: 2em 2em 0em 0em;
}

.receitas-item:nth-last-child(1) {
    border-radius: 0em 0em 2em 2em;
    /* background-color: red; */

}



.carrossel-receitas {
    /* position: sticky; */
    /* top: 0px; */
    height: 50%;
    /* display: flex; */
    /* flex-direction: column; */
    /* position: sticky; */

    /* background-color: red; */
}

.receitas-item>div {

    width: 50%;
    /* background-color: blue; */
    padding: 5vw;
    /* top: 0px; */
    overflow-y: hidden;
}

.receitas-item>div>h1 {
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-family: "fraunces";
    font-weight: 400;
    color: #67422e;
    overflow-y: hidden;
}

.receitas-item>div>p {
    padding: 2vh 0vh;
    font-size: clamp(.5rem, 2vw, .9rem);
    font-family: "montserrat";
    color: #67422e;
    overflow-y: hidden;
}

.contato-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    /* top: 200vh;l */
    top: 0%;
    width: 80%;
    height: 90%;
    background-color: #894A28;
    border-radius: 1.5em;
    margin: auto;
    z-index: 4;
    overflow-y: hidden;
}
.contato-group{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 70vh;
    margin: auto;
}
.contato-group input{
    display: block;
    width: 50vw;
    height: 5vh;
    margin-top: 1vh; 
    margin-bottom: 1vh;
    border-radius: 1em;
    /* background-color: red; */
}
.contato-group label{
    font-size: clamp(0.5rem, 1vw, 0.5rem);
   
    font-family: "Montserrat";
    font-weight: lighter;
    color: #FEFAEF;
    padding-left: 2vw;
    
}
.video-institucional{
    position: sticky;
    top: 0%;
    width: 80%;
    height: 90%;
    background-color: orange;
    z-index: 5;
    margin: auto;
    overflow-y: hidden;
}



@media (max-width: 500px) {
    .imageNewsIten {
        display: flex;
        flex-direction: row;
        height: 20vh;
    }
}

@media (max-width: 1024px) {
    .itens>div {
        width: 90%;
        flex-basis: 50%;
        flex-shrink: 1;
        gap: 0vh;
    }

    .produtos>div>div {

        flex-basis: 50%;
        /* background-color: red; */
    }

    .produtos>div {
        width: 90%;
        flex-wrap: wrap;
    }


    .produtos>div>div>h2 {
        font-family: "montserrat";
        font-weight: 700;
        color: rgb(103, 66, 46);
        font-size: clamp(0.7em, 1vw, 2em);
        margin-top: 2vh;

    }





}