*{
    /* margin: 0; */
    padding: 0;
    /* overflow-y: hidden; */
    overflow-x: hidden;
}
.container{
    display: flex;
    width: 100%;
    background-color: blue;
    /* align-items: center; */
    /* justify-content: center; */
}
.imageNews{
    display: flex;
    flex-wrap: nowrap;
    /* overflow-y: hidden; */
    width: 90vw;
    /* height: 100vh; */
    /* margin-top: 10%; */
    /* background-color: red; */
    border-radius: 1em;
    margin: auto;
}
.imageNewsIten{
    overflow-y: hidden;
    width: 100vw;
    height: 95vh;
    background-color: blue;
    /* margin-top: 1em; */
    /* border-radius: 1em; */

}