*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.container{
    width: 100%;
    background-color: blue;
}
.imageNews{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
}
.imageNewsIten{
    width: 100%;
    height: 100%;
    background-color: blue;

}