body{
    /* background-color: #EFE5CB; */
        background-color: #FEFAEF;

}
.apresentacao{
    width: 100%;
    background-color: #FEFAEF;
    
}

.apresentacao-titulo{
    display: flex;
    flex-direction: column;
    padding: 5% 0;
    /* background-color: red; */
    text-align: center;
    gap: 4vh;
}
.apresentacao-titulo h1{
    font-size: clamp(1rem, 2vw + 1rem, 4rem);
    font-family: fraunces;
    font-weight: 600;
    color: #67422e;
}
.apresentacao-titulo h2{
    font-size: clamp(1rem, 2vw + 1rem, 2rem);
    font-family: montserrat;
    font-weight: 400;
    color: #67422e;
}

.apresentacao-banner{
    width: 95%;
    min-height: 20vh;
    max-height: 80vh;
    /* min-height: 15%; */
    /* max-height: 20%; */
    background-image: url("../../assets/ProdutoSaoJose.png");
    background-size: cover;
    margin: auto;
    border-radius: 1em;
}
.apresentacao-banner img{
    width: 25%;
}
.apresentacao-nutrieggs{
    width: 95%;
    /* height: fit-content; */
    /* max-height: 50vh; */
    /* height: 30vh; */
    /* min-height: 15vh; */

    display: flex;
    margin: auto;
    padding: 5% 5%;
    /* background-color: red; */
}
.apresentacao-nutrieggs>img{
    min-width: 35%;
    /* max-width: 60%; */
    /* min-height: 10%; */
    /* max-height: 20%; */
    object-fit: contain;
    /* max-height: 60%; */
}
.apresentacao-nutrieggs div p{
    width: 80%;
    font-family: montserrat;
    font-size: clamp(1rem, 1vw + 0.5rem, 3rem);
    /* font-size: 10px; */
    word-wrap: break-word;
    color: #67422e;

}
.apresentacao-nutrieggs div img{
    width: 70%;

}
.apresentacao-nutrieggs div{

}

.Produtos{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* flex-wrap: wrap; */
    /* align-content: start; */
    background-color: #EFE5CB;
    padding: 6vh 4vw;
    
}
.Produtos>h1{
    font-size: clamp(2rem, 2vw + 2rem, 6rem);
    font-family: fraunces;
    font-weight: 400 !important;
    color: #67422e;
    padding: 2vh 0;
}
.Produtos>h2{
    font-size: clamp(1rem, 1vw + 1rem, 2rem);
    font-family: fraunces;
    font-weight: 400 !important;
    color: #67422e;
    padding: 6vh 0;
}
.ProdutosWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 2%;
    
}

.ProdutoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px !important;
    /* height: 60vh !important; */
    height: auto !important;
    /* width: 30vw !important; */
    
    /* flex: 1 1; */ 
    /* min-width: 30vw !important; */
    /* flex-basis: 30vw; */
    flex-direction: column;
    background-color: #FEFAEF;
    /* border: 1px solid #292929; */
    border-radius: 2em;
    margin-top: 3%;
    gap: 5vh;
    padding: 5vh 3vw;
}
.ProdutoContainer img{
    max-width: 400px;
    /* height: auto; */
    /* background-color: rebeccapurple; */

}
.ProdutoContainer h1{
    font-weight: 700;
    font-family: montserrat;
    color: #67422e;
    /* padding: 2vh 0 ; */
}
.ProdutoContainer h3{
    font-family: montserrat;
    font-weight: 600;
    color: #67422e;
    

}
.ProdutoContainer p{
    font-weight: 400;
    font-family: montserrat;
    color: rgb(243, 99, 99);
    /* padding: 2vh 0 ; */

}
.ProdutoContainer div{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.section-catalogo{
    width: 90vw;
    height: 100vh;
    margin: 10vh auto;
    padding: 10vh 5vw;
    border-radius: 5em;
    background-color: #FEFAEF;

}
.section-catalogo h1{
    font-family: fraunces;
    font-weight: 400;
    font-size: clamp(1rem, 1.5vw + 1rem, 4rem);
    color: #67422e;    
}
.section-catalogo h2{
    font-family: montserrat;
    font-weight: 400;
    font-size: clamp(0.5rem, 1vw + 0.5rem, 3rem);
    color: #67422e;    
}
.baixar-catalogo{
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap-reverse;
    /* background-color: red; */
}
.baixar-catalogo a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 2vw;
    /* width: 15%; */
    border-radius: 10em;
    height: 8vh;
    cursor: pointer;
    color: #67422e;
    text-decoration: none;
    border: 1px solid #67422e;
}
.baixar-catalogo a:hover{
    border: 1px solid #67422e;
    background-color: #FFF;
}

@media (max-width: 768px){
    .ProdutosWrapper{
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        /* background-color: red; */
    }
    .ProdutoContainer{
        width: 350px !important;
    }
    .ProdutoContainer img{
        width: 80%;
    }

    .baixar-catalogo{
        justify-content: center;
    }
    .baixar-catalogo img{
        width: 100%;

    }
}

