.containerNav{
    display: flex;
    position: sticky;
    top: 0;
    
    transform: translateX(50%); 
    
    width: 40vw;
    height: 8vh;
    background-color: #FEFAEF;
    transition: cubic-bezier(0,.66,1,.88);
    transition-duration: .09s;
    
    border-radius: 1em;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 4vw 1vh 4vw;
    z-index: 5;
   
}
.hidden{
    transform: translateY(-10vh);
    transform: translateX(50%); 
}
