* {
    margin: 0;
    padding: 0;
}

.containerItens {
    display: flex;
    width: 50%;
    height: 100%;
    background-color: #FEFAEF;

    border-radius: 0.5em;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 4vw;
    z-index: 5;
    overflow-y: hidden;
    /* box-shadow: 1px 1px 14px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 1px 1px 14px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 1px 14px 0px rgba(0, 0, 0, 0.25); */
}

.containerItens>a>img {
    object-fit: contain;
    display: block;
    width: 100%;
    height: auto;
}

.containerNav {
    position: fixed;
    /* better than absolute so it stays visible everywhere */
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: transform 0.3s cubic-bezier(0, .66, 1, .88);
}

.hidden {
    transform: translateY(-100%);
    /* hide entire navbar */
}

.closed {
    /* width: 0; */
    transform: translateX(-100vw);
    transition: cubic-bezier(0, .66, 1, .88);
    transition-duration: .09s;
}

.logo {
    width: 8vw;
    height: auto;
    /* background-color: red; */
}

.collapsed-hamburguer {
    display: none;
}

.container-side {
    position: fixed;
    left: 0;
    top: 0;
    width: 70vw;
    height: 100vh;
    background-color: #FFF;
    transition: cubic-bezier(0, .66, 1, .88);
    transition-duration: .09s;
    z-index: 10;
}

.content-side {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* width: 10; */
    width: 100%;
    height: 150%;
    background-color: #FFF;
    overflow-y: hidden;
}

.logo-side {
    width: 100px;
    height: 100px;
    margin: 5vh 0;
}

.anchor-side {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
    /* background-color: blue; */

}

.anchor-side>* {
    margin-top: 5vh;
    /* margin: auto; */
    font-size: clamp(1rem, 5vw, 2rem);
}

/* .anchor-side>*{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    background-color: blue;

} */


.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #292929;
    opacity: 0.5;
    z-index: -100;
}

.closeButton {
    position: absolute;
    top: 2%;
    right: 5%;
    background-color: transparent;
    border: none;
    color: #894A28;


}



@media (max-width: 1000px) {
    .collapsed-hamburguer {
        display: block;
    }

    .containerItens>.transparentLink,
    .containerItens>.redBackgroundButton {
        display: none;
    }


    .logo {
        height: 80%;
        width: 35%;
        margin: auto;
    }





}