footer {
    position: sticky;
    width: 100%;
    /* min-height: auto; */
    /* height: fit-content; */
    min-height: 80vh;
    /* max-height: 100vh; */
    background-color: #A1653A;
    z-index: 9;
    /* overflow-x: hidden; */
    border-radius: 25px 25px 0 0;
}

.sempre-com-voce {
    width: 90%;
    height: 50vh;
    /* background: url("https://static.wixstatic.com/media/dec92a_b5c4927bc4b947388062dab1d4c59bbf~mv2.png/v1/fill/w_1704,h_455,al_c,q_90,usm_0.66_1.00_0.01,enc_avif,quality_auto/FAZENDA%20IMAGEM-01.png"); */
    margin: auto;
    background-image:url("https://static.wixstatic.com/media/dec92a_b5c4927bc4b947388062dab1d4c59bbf~mv2.png/v1/fill/w_1704,h_455,al_c,q_90,usm_0.66_1.00_0.01,enc_avif,quality_auto/FAZENDA%20IMAGEM-01.png") ;
    background-size: cover;

    /* margin-top: 10vh; */
    border-radius: 3em;
    background-color: #FEFAEF;
    /* padding: 1em; */
    /* overflow-x: hidden; */
}

.sempre-com-voce>h1 {
    margin: 1em;
    font-size: clamp(1rem, 2.5vw + 1rem, 2rem);
    font-family: "fraunces";
    font-weight: 400;
    color: #67422e;
}

.footerInfo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    /* margin: auto; */
    /* background-color: red; */
    /* padding-bottom: 5%; */
    /* background-color: red; */
    /* overflow-x: hidden; */
    padding: 5% 5vw;
    gap: 10%;
}
.footerInfo>div{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    margin: auto;
    height: 200px;
    

}



.footerInfo>div>h2 {
    /* margin-bottom: 4vh; */
    font-family: "fraunces";
    font-weight: 600;
    color: #FFF;
}

.footerInfo>div>p {
    font-size: clamp(1rem, 1vw + 1rem, 1rem);
    color: #FFF;
    margin: 2vh 0vh;
    font-family: "montserrat";
    /* margin-left: 25px; */
    /* background-color: red; */
}
.footerInfo img{
    margin: auto 0;
    /* background-color: blue; */
}


.footerInfo>div>p>a {
    color: #FFF;
    margin-left: 10px;
    text-decoration: none;
}

.privacidade h1 {
    color: #FFF;
    font-family: "montserrat";
    font-size: 0.8em;
}
.privacidade>div {
    display: flex;
    /* justify-content: space-between; */
    /* background-color: black; */
    /* padding-left: 5vw; */
}

.privacidade>div>p {
    margin-left: 2vw;
    font-size: 0.8em;
    font-family: "montserrat";

    /* background-color: red; */
    color: #FFF;
}
.privacidade>div>p>a {
    margin-left: 2vw;
    font-size: 0.9em;
    font-family: "montserrat";

    /* background-color: red; */
    text-decoration: none;
    color: #FFF;
}

.privacidade {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 3%;
    /* padding-right: 5vw;
    padding-left: 5vw; */
    width: 100%;
    /* height: 5vh; */
    /* background-color: blue; */
    font-size: 1.1em;
}




@media (max-width: 768px){
    footer{
        min-height: 100vh;
    }

    /* .sempre-com-voce{
        margin-top: 5%;
    } */
     
    .footerInfo{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;

        /* justify-content: center; */
        /* background: red;                               */
        /* flex-basis: 100%; */
        padding: 2% 5%;
        /* height: 100vh;                                       */
        
    }
    .footerInfo>div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: auto;
        height: 200px;
        width: 100%;
        
    }
    .footerInfo img{
        display: block;
        width: 50%;
        height: auto;
        padding-bottom: 3vh;
        margin: auto;
        
    }
    .privacidade{
        /* background-color: red; */
        padding: 2vh 5%;
        gap: 3vh;
        /* flex-wrap: wrap; */
        margin: auto;
    }
    

}