
.containerSide{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 5;   
    /* overflow-y: hidden; */
    
    top: 0;
    left: 0;
    
}
.backgroundBlur{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.3;
    z-index: 3;
    /* overflow-y: hidden; */
}
.side{
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    width: 30%;
    height: 100%;

    background-color: #FEFAEF;
    z-index: 5;   
    overflow-y: auto;
    margin: auto;
    padding: 5vh 3vw;
    gap: 5vh;
    
}
.side>h1{
    font-family: fraunces;
    color: #a1653a;
    font-size: 3em;
}
.side>h2{
    font-family: montserrat;
    font-weight: 400;
    color: #a1653a;
}
.X{
    position: fixed;
    width: 5%;
    height: 10%;
    font-size: 3em;
    background-color: transparent;
    border: none;
    top: 0%;
    right: 0%;
    z-index: 6;
    margin-right: 5%;

}
.side img{
    width: 50%;
    margin: auto;
}
.imagenNutricional{
    width: 90%;
    /* background-color: red; */
}
.imagenNutricional img{
    width: 100%;
}

@media(max-width: 768px){
    .side{
        width: 80%;
    }
}
